.dark {
  background-color: #1f1b24 !important;
  color: #fff;
}

.pokemon_name {
  text-align: center;
}

.gutterBottom {
  margin-bottom: 16px !important;
}

.text_center {
  text-align: center;
}

.no_decoration {
  text-decoration: none;
}
