.dark {
  background-color: #1f1b24 !important;
  color: #fff;
}

.pokemon_name {
  text-align: center;
}

.gutterBottom {
  padding: 24px 0 24px 0;
}

.text_center {
  text-align: center;
}

.no_decoration {
  text-decoration: none;
}

.container {
  height: 100vh;
}
