.base {
  background-color: #f5f5f5;
  margin: 16px 200px 16px 200px;
}

.pokemon_name {
  text-align: center;
  background-color: #2e5ba4;
  color: #fff;
  padding: 5px 0 5px 0;
}

.pokemon_info {
  color: #fff;
}
